.root
    width: 100%

.content
    margin-bottom: 4rem
    padding: 6rem 1rem 1rem

.logo
    color: var(--color-theme)
    position: absolute
    top: 2rem
    left: 2rem

@media(min-width: 1200px)
    .logo
        position: fixed

.header
    width: var(--width-container)
    max-width: 100%
    margin: 5rem auto

.title
    font-size: var(--font-size-xl)
    font-family: var(--font-display)
    line-height: 1.3
    margin-bottom: 2rem

.footer
    background: var(--color-subtle-light)
    width: 100%
    padding: 3rem
    margin-top: 5.5rem

.footer-content
    max-width: 100%
    width: var(--width-container)
    margin: 0 auto
    font-size: var(--font-size-sm)
    justify-content: space-between
    flex-flow: row wrap

@media(min-width: 900px)
    .footer-content
        display: flex

.footer-section
    flex: 0 0 48%
    padding: 0 2rem
    margin-bottom: 1rem

.footer-links
    flex: 0 0 100%
    padding-top: 2rem
    font-size: var(--font-size-xs)
    text-align: center
    color: var(--color-subtle-dark)

.footer-link
    display: inline

    &:not(:last-child)
        margin-right: 1rem

        &:after
            content: "\b7"
            margin-left: 1rem

.profile
    width: var(--size-profile-pic)
    height: var(--size-profile-pic)
    border-radius: 50%
    float: right
    margin: 0 0 1rem 1rem
    shape-outside: circle()

.lang-select
    position: absolute
    top: 1rem
    right: calc(2.5% + 1rem)
    font: inherit
    font-size: var(--font-size-md)
    font-weight: bold
    border: none
    appearance: none
    background-color: var(--color-subtle-medium)
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23929e9b%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='%23929e9b'%3E%3Cpath d='M10 20a10 10 0 110-20 10 10 0 110 20zm7.8-8a7.8 7.8 0 000-4h-3.9a28 28 0 010 4h3.9zm-.9 2h-3.2c-.2 1.3-.5 2.5-1 3.6A8 8 0 0017 14zm-8.8-2h3.8l.1-2V8H8v4zm.2 2c.4 2.4 1.2 4 1.7 4s1.3-1.6 1.7-4H8.3zm-6-2H6a28 28 0 010-4H2.3a7.8 7.8 0 000 4zm.8 2a8 8 0 004 3.5h.1c-.4-1-.7-2.1-1-3.5H3.2zm13.8-8a8 8 0 00-4-3.5h-.1c.4 1 .7 2.2 1 3.5h3.1zM8.3 6h3.4c-.4-2.4-1.2-4-1.7-4S8.7 3.6 8.3 6zM3.1 6h3.2a14 14 0 011-3.5A8 8 0 003 6z'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: right 0.7em top 50%, left 1rem top 50%
    background-size: 0.5em auto, 14px 14px
    padding: 0.25em 1.5em 0.35em 1.75em
    border-radius: 2em
    cursor: pointer

    &:-moz-focusring
        text-shadow: 0 0 0 var(--color-front)
        color: transparent

@media(min-width: 1100px)
    .lang-select
        position: fixed

.alert
    --color-front: hsl(44, 94%, 47%)
    --color-theme: hsl(44, 94%, 47%)

    background: hsl(46, 100%, 95%)
    margin: 3rem auto
    width: var(--width-container)
    border-radius: var(--border-radius)
    padding: 1rem
    font-size: var(--font-size-sm)
    color: hsl(44, 94%, 27%)
