spacy[lookups]==3.3.3
numpy==1.26.4
wasabi>=0.6.0,<1.1.0
srsly>=2.4.0,<3.0.0
pytest>=4.4.1,<4.5.0
black==22.3.0

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz#egg=en_core_web_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.3.0/en_core_web_md-3.3.0.tar.gz#egg=en_core_web_md==3.3.0
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.3.0/de_core_news_sm-3.3.0.tar.gz#egg=de_core_news_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.3.0/es_core_news_sm-3.3.0.tar.gz#egg=es_core_news_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.3.0/es_core_news_md-3.3.0.tar.gz#egg=es_core_news_md==3.3.0
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.3.0/fr_core_news_sm-3.3.0.tar.gz#egg=fr_core_news_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.3.0/fr_core_news_md-3.3.0.tar.gz#egg=fr_core_news_md==3.3.0
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.3.0/pt_core_news_sm-3.3.0.tar.gz#egg=pt_core_news_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.3.0/pt_core_news_md-3.3.0.tar.gz#egg=pt_core_news_md==3.3.0
https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.3.0/zh_core_web_sm-3.3.0.tar.gz#egg=zh_core_web_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/zh_core_web_md-3.3.0/zh_core_web_md-3.3.0.tar.gz#egg=zh_core_web_md==3.3.0
https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.3.0/ja_core_news_sm-3.3.0.tar.gz#egg=ja_core_news_sm==3.3.0
https://github.com/explosion/spacy-models/releases/download/ja_core_news_md-3.3.0/ja_core_news_md-3.3.0.tar.gz#egg=ja_core_news_md==3.3.0
